{% extends 'base.html.twig' %}
{% block body %}

    <nav class="bg-gradient-faded-info">
        <h1 class="text-lg">reponseback!</h1>
    </nav>

        <ul class="table" >
            {% for reponse in reponse %}
                <li class="list-group-item-light">

                </li>
            {% endfor %}
        </ul>
{% endblock %}
