
{% extends 'base.html.twig' %}
{% block title %}RendezVous{% endblock %}

{% block body %}
    <main>


        {{ include('header.html.twig') }}


        <div class="tabs">
            <button id="futureTab" class="tablinks active btn custom-btn mt-3 mt-lg-4 " onclick="openTab(event, 'futureAppointments')">Refuses</button>
            <button id="pastTab" class="tablinks btn custom-btn mt-3 mt-lg-4 " onclick="openTab(event, 'pastAppointments')">Approuves</button>
            <button id="pendingTab" class="tablinks btn custom-btn mt-3 mt-lg-4 " onclick="openTab(event, 'pendingAppointments')">En attente</button>
        </div>

        <div id="pendingAppointments" class="tabcontent " style="display:none">
            {% include 'rendez_vous/appointmentsTablePatient.html.twig' with {'appointments': pendingAppointments , tableTitle: 'Rendez-vous en attente', 'showButtons': true} %}
        </div>

        <div id="pastAppointments" class="tabcontent " style="display:none">
            {% include 'rendez_vous/appointmentsTablePatient.html.twig' with {'appointments': acceptedAppointments , tableTitle: 'Rendez-vous approuvés', 'showButtons': false} %}
        </div>

        <div id="futureAppointments" class="tabcontent " style="display:block">
            {% include 'rendez_vous/appointmentsTablePatient.html.twig' with {'appointments': refusedAppointments , tableTitle: 'Rendez-vous refusés', 'showButtons': false} %}
        </div>



        <div id='calendar' style="margin: 10%"></div>

    </main>

{% endblock %}

{% block javascripts %}


    <script>




        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>

{% endblock %}