{% block title %}How much you would like To pay{% endblock %}

{% block body %}
    <h1>Edit Progress Bar</h1>

    {{ form_start(form) }}


    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
